
<p style="font-size: 0.8em; padding:4em 1em 0.5em 1em; margin: 0 auto;">
  <!-- share -->
  <strong style="vertical-align: top;">分享到:</strong>
 
  <!-- weibo -->
  <a href='https://service.weibo.com/share/share.php?url=https://qianshuang.github.io{{page.url}}&type=icon&language=zh_cn&searchPic=true&title={{page.title}}+|+子颢s Blog&pic=https://qianshuang.github.io{{page.thumbnail}}' target="_blank">
      <img class="cycle-img" src="{{site.baseurl}}/static/img/icon/share_weibo_icon.png" width="50px" height="50px" alt="微博" style="cursor: pointer;">
  </a>
	<!-- weichat -->
	<a href="https://api.addthis.com/oexchange/0.8/forward/wechat/offer?url=https://qianshuang.github.io{{page.url}}&title={{page.title}}+|+子颢's Blog&pco=bmt-300&pubid=ra-51801b2377872ab3&referer=https://qianshuang.github.io{{page.url}}" target="_blank">
		<img class="cycle-img" src="{{site.baseurl}}/static/img/icon/share_wechat_icon.jpg" width="50px" height="50px" alt="微信" style="cursor: pointer;">
	</a>
	
</p>


